@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Asap&family=Bai+Jamjuree:wght@500&family=Roboto:wght@400;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

:root {
    --violeta-uno: #1F1E40;
    --violeta-dos: #2A2C59;
    --violeta-tres: #403BBF;
    --violeta-cuatro: #9048D9;
    --violeta-cinco: #BDC0F2;
    --degradado-violeta: linear-gradient(5deg, rgba(170, 109, 232, 0.58) 0, #2A2C59 100%);
    --degradado-rojo: linear-gradient(5deg, rgba(255, 0, 0, 0.66) 0, #2A2C59 100%);
}

body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px ;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: var(--violeta-dos);

}

body > main {
    background-color: var(--violeta-uno);
    background-image: url(../fondo_imagen.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form , .contenedor_centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: var(--degradado-violeta);
    width: 50%;
    padding: 50px 100px;
    border-radius: 6px;
    color: white;
}

form > div{
    width: 100%;
}

#form1 {
    top: 35%;
}

div.header_usuario{
    background-color: var(--violeta-cinco);
    padding: 10px;
    width: 300px;
    text-align: center;
    border-radius: 6px;

}

div.header_usuario >p{
    margin-bottom: 0;

}

.infoBasica{
    display: flex;
    gap: 20px;
    align-items: center;
}

#infoBasica_div1{
    width: 150px;
    height: 150px;
}

#logo2{
    display: none;
}


#editarImagen{
    position: relative;
    bottom: 150px;
    text-align: center;
    background-color: #00000024;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}
#editarImagen:hover{
    background-color: #00000059;
}

#editarImagen:hover > img{
    display: block;
}


#imagen_enviada{
    width: 150px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*BOTONES*/
a.boton, button.boton{
    background-color: var(--violeta-uno);
    width: 200px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.boton:hover{
    scale: 1.02;
    color: white;
    background-color: #763cb0 ;
}

a.boton_secundario, button.boton_secundario{
    border: 3px solid var(--violeta-cuatro);
    background-color: rgba(0, 0, 0, 0.127);
    font-size: 18px;
    width: 200px;
    color: var(--violeta-cuatro);
    font-weight: 500;
}

.boton_secundario:hover {
    scale: 1.03;
    color: white;
}

h2{
    text-align: center;
}

.logo{
    height: 100%;
}

/*Perfil*/
.header_usuario {
    box-sizing: border-box;
    position: relative;
    top: 70px;
    margin-bottom: 0;
    z-index: 100;
    min-width: 310px;
}

.header_usuario:hover{
    border-bottom: 1px solid var(--violeta-tres);
    color: var(--violeta-cinco);
}

.header_usuario:hover ~ a.header_usuario > div#usuario_divSecundario{
   display: block;
}

header p,
header h5 {
    margin-bottom: 0;
}

header a{
    text-decoration: none;
}

#usuario_divPrincipal_div>progress {
    width: 100%;
    vertical-align: bottom;
}

#usuario_divPrincipal_div{
    width: 100%;
}

div#usuario_divPrincipal {
    width: 100%;
    background-color: #BDC0F2;
    border-radius: 6px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    color: #000000;
    justify-content: space-between;
}

div#usuario_divSecundario {
    background-color: rgba(0, 0, 0, 0.108);
    padding: 10px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

div#usuario_divPrincipal img {
    width: 70px;
    height: 70px;
}

header > nav{
    position: relative;
    top: 23px;
}
header a:hover{
    text-decoration: none;
    color: white;
}

header a{
    color: white;
}

a.navegacion{
    padding: 10px 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 200px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}
a.navegacion_seleccionado{
    background-color: var(--violeta-uno);
}

a.navegacion:hover{
    border-bottom: 3px solid var(--violeta-tres);
    scale: 1.01;
    color: var(--violeta-cinco);
}

.btn_danger{
    background-color: #cb1717;
    width: 200px ;
}

.btn_danger:hover{
    background-color: #ab1515;
    scale: 1.02;
}

/*PARTIDA*/
div.pregunta, a.respuesta{
    background-color: var(--violeta-cuatro);
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    width: 100%;
}

form > a.respuesta{
    background-color: var(--violeta-cuatro);
    border: 0;
    font-size: 20px;
    color: #1F1E40;;
}
.puntaje{
    color: rgb(0, 0, 0);
    width: 50%;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.puntaje div{
    background-color: var(--violeta-cinco);
    border-radius: 6px;
    width: 100%;
    height: 100px;
    padding-top: 1rem;
}

.popup{
    background: var(--degradado-rojo);
    gap: 20px;
    width: 50%;
    padding: 150px 100px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 22px;
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;

}
div#popup span {
    font-size: 30px;

}

.div_tiempo{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 800;
}

 .div_tiempo progress{
    width: 100%;
    height: 20px;
}

#barra_progreso {
    transition: width 1s;
}

#barra_progreso::-webkit-progress-value {
    transition: width 1s;
}

.img_categoria{
    max-width: 100%;
    height: 50%;
}

#Historia{
    background: linear-gradient(0deg, rgba(238, 255, 45, 0.5) 20%, #2A2C59 90%);
}
#Geografía{
    background: linear-gradient(0deg, rgba(0, 141, 255, 0.5) 20%, #2A2C59 90%);
}
#Ciencia{
    background: linear-gradient(0deg, rgba(16, 255, 0, 0.5) 20%, #2A2C59 90%);
}
#Arte{
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.5) 20%, #2A2C59 90%);
}
#Deportes{
    background: linear-gradient(0deg, rgba(255, 128, 0, 0.5) 20%, #2A2C59 90%);
}
#Entretenimiento{
    background: linear-gradient(0deg, rgba(255, 0, 250, 0.5) 20%, #2A2C59 90%);
}

@media (max-width: 1600px) {
    header{
        padding: 0 20px;
    }

    a.navegacion{
        min-width: auto;
        width: 140px;
    }

}

@media (max-width: 1200px) {
    .logo{
        display: none;
    }

    form, .contenedor_centrado {
        width: 75%;
    }

}

@media (max-width: 800px) {
    header{
        padding: 20px;
    }
    #logo1{
        display: none;
    }
    header > #menu_hamburguesa{
        display: block;
        left: 20px;
    }

    #menu_normal{
        display: none;
    }

    .header_usuario{
        position: absolute;
        top: 20px;
        right: 20px;
    }

    form, .contenedor_centrado {
        padding: 35px 50px;
    }
}



#menu_hamburguesa{
    position: absolute;
    display: none;
    text-align: center;
}

ul{
    display: none;
}

input:checked  ~ ul{
    display:block;
}

input {
    display: none;
}

#menu_hamburguesa label {
    box-sizing: border-box;
    display: inline-block;
    background-color: var(--violeta-uno);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

/* Estilo del boton cuando se pasa el mouse por encima*/
label:hover, input:checked{
    background: var(--violeta-tres);
    color: white;
}

/* Estilo del boton cuando el menú está expandido*/
input:checked ~ label {
    background: var(--violeta-cinco);
    width: 200px;
}

ul{
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.28);
    margin-top:0;
    padding: 0;
    width: 200px;
}


#menu_hamburguesa > ul > li {

    display: block;
    padding: 10px;
    list-style: none;
    color: #1F1E40;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
   background-color: #403BBF;
}


#main_scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.ranking_global{
    width: 75%;
    height: 100px;
    text-align: center;
    font-size: 18px;
}

.div_ranking{
    width: 100%;
    height: 100%;
    background-color: var(--violeta-cuatro);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div_ranking2{
    width: 100%;
    height: 100%;
    background-color: var(--violeta-dos);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.a_ranking{
    border-radius: 6px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
}

.div_ranking_nombre{
    width: 200%;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    padding-left: 40px;
}


.div_ranking > img, .div_ranking2 > img{
    width: 100%;
    height: 100%;
}

img.img_perfil{
    width: 60px;
    height: 60px;
}

.ranking_global span{
    display: block;
    font-size: 30px;
}

.a_ranking:hover{
    text-decoration: none;
    color: white;
}

span.nombre{
    font-size: 20px;
}

div.div_ranking_numero{
    background-color: #68349c;
}

div.div_ranking_numero2{
    background-color: #22244a;
}

main.main_ranking{
    display: flex;
    gap: 20px;
}

#form_botones{
    gap: 10px;
    justify-content: center;
}

a.popup_cruz{
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.div_botones{
    display: flex;
    gap: 10px;
    justify-content: center;
}