@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Asap&family=Bai+Jamjuree:wght@500&family=Roboto:wght@400;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

:root {
    --violeta-uno: #1F1E40;
    --violeta-dos: #2A2C59;
    --violeta-tres: #403BBF;
    --violeta-cuatro: #9048D9;
    --violeta-cinco: #BDC0F2;
    --degradado-violeta: linear-gradient(5deg, rgba(170, 109, 232, 0.58) 0, #2A2C59 100%);;
}

body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px ;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: var(--violeta-dos);

}

main {
    background-color: var(--violeta-uno);
    background-image: url(../fondo_imagen.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90%;
}

form , .contenedor_centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: var(--degradado-violeta);
    width: 50%;
    padding: 50px 100px;
    border-radius: 6px;
    margin: auto;
    position: absolute;
    left: 27%;
    top: 25%;
    color: white;
}

form > div{
    width: 100%;
}

#form1 {
    top: 35%;
}

div.header_usuario{
    background-color: var(--violeta-cinco);
    padding: 10px;
    width: 300px;
    text-align: center;
    border-radius: 6px;

}

div.header_usuario >p{
    margin-bottom: 0;

}

.infoBasica{
    display: flex;
    gap: 20px;
    align-items: center;
}

#infoBasica_div1{
    width: 150px;
    height: 150px;
}

#editarImagen{
    position: relative;
    bottom: 150px;
    text-align: center;
    background-color: #00000024;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}
#editarImagen:hover{
    background-color: #00000059;
}

#editarImagen:hover > img{
    display: block;
}


#imagen_enviada{
    width: 150px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*BOTONES*/
a.boton, button.boton{
    background-color: var(--violeta-uno);
    width: 200px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.boton:hover{
    scale: 1.02;
    color: white;
    background-color: #763cb0 ;
}

a.boton_secundario, button.boton_secundario{
    border: 3px solid var(--violeta-cuatro);
    background-color: rgba(0, 0, 0, 0.127);
    font-size: 18px;
    width: 200px;
    color: var(--violeta-cuatro);
    font-weight: 500;
}

.boton_secundario:hover {
    scale: 1.03;
    color: white;
}

h2{
    text-align: center;
}

.logo{
    height: 100%;
}

/*Perfil*/
.header_usuario {
    box-sizing: border-box;
    position: relative;
    top: 70px;
    margin-bottom: 0;
    z-index: 100;
}

.header_usuario:hover{
    border-bottom: 1px solid var(--violeta-tres);
    color: var(--violeta-cinco);
}

header p,
header h5 {
    margin-bottom: 0;
}

header a{
    text-decoration: none;
}

#usuario_divPrincipal_div>progress {
    width: 100%;
    vertical-align: bottom;
}

div#usuario_divPrincipal {
    background-color: #BDC0F2;
    border-radius: 6px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    color: #000000;
}

div#usuario_divSecundario {
    background-color: rgba(0, 0, 0, 0.108);
    padding: 10px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

div#usuario_divPrincipal img {
    width: 70px;
    height: 70px;
}

header > nav{
    position: relative;
    top: 23px;
}
header a:hover{
    text-decoration: none;
    color: white;
}

header a{
    color: white;
}

a.navegacion{
    padding: 10px 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 200px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}
a.navegacion_seleccionado{
    background-color: var(--violeta-uno);
}

a.navegacion:hover{
    border-bottom: 3px solid var(--violeta-tres);
    scale: 1.01;
    color: var(--violeta-cinco);
}

.btn_danger{
    background-color: #cb1717;
}

.btn_danger:hover{
    background-color: #ab1515;
    scale: 1.02;
}

/*PARTIDA*/
div.pregunta, button.respuesta{
    background-color: var(--violeta-cuatro);
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    width: 100%;
}

form button.respuesta{
    background-color: var(--violeta-cinco);
    border: 0;
    font-size: 20px;
}
.puntaje{
    background-color: var(--violeta-cinco);
    color: rgb(0, 0, 0);
    width: 300px;
    padding: 10px 0;
    text-align: center;
    margin: auto;
    font-size: 20px;
    position: relative;
    top: 50px;
    border-radius: 6px;
    
}