<main>
    <form method="post" action="{{action}}" enctype="multipart/form-data">

        <div class="div_form_titulos">
            <h2>{{titulo}}</h2>
        </div>

        <div class="div_form_campos">
            <div class="form-group">
                <label for="pregunta">Pregunta</label>
                <input type="text" class="form-control" name= "pregunta" id="pregunta" aria-describedby="emailHelp" placeholder="Ingrese la pregunta" required>
            </div>

            <div class="form-row form-group">
                <div class="col">
                    <label for="exampleInputEmail1">Respuesta correcta</label>
                    <input type="text" name="respuestaCorrecta" class="form-control" placeholder="Ingrese la respuesta correcta" required>
                </div>
                <div class="col">
                    <label for="exampleInputEmail1">Respuesta incorrecta #1</label>
                    <input type="text"  name="respuestaIncorrecta1" required  class="form-control" id="exampleInputEmail1" required>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <label for="exampleInputEmail1">Respuesta incorrecta #2 <span style="color: rgb(255, 0, 0);">✱</span></label>
                    <input type="text" name="respuestaIncorrecta2" class="form-control" >
                </div>
                <div class="col">
                    <label for="exampleInputEmail1">Respuesta incorrecta #3 <span style="color: rgb(255, 0, 0);">✱</span></label>
                    <input type="text"  name="respuestaIncorrecta3" class="form-control" id="exampleInputEmail1" >
                </div>
            </div>


            <div class="form-row form-group">
                <div class="col">
                    <label class="form-label" for="categoria">Categoria</label>
                    <select id="categoria" class="form-control " name="categoria" required>
                        <option value="1">Historia</option>
                        <option value="2">Geografia</option>
                        <option value="3">Ciencia</option>
                        <option value="4">Arte</option>
                        <option value="5">Deportes</option>
                        <option value="6">Entretenimiento</option>
                    </select>
                </div>

                <div class="col">
                    <label class="form-label" for="dificultad">Dificultad</label>
                    <select id="dificultad" class="form-control " name="dificultad" required>
                        <option value="1">Facil</option>
                        <option value="2">Moderado</option>
                        <option value="3">Dificil</option>
                    </select>
                </div>
            </div>

        </div>

        <button type="submit" class="btn boton">{{titulo}}</button>

    </form>
</main>