<footer class="w-auto bg-secondary py-3 text-center text-light">
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <p> Crespo Rocio </p>
                <p> Lina Karen </p>
                <p> Roldan Emiliano </p>
                <p> Rubio Duilio </p>
            </div>
            <div class="col">
                <p><b>&copy; Programación Web 2 - 2023</b></p>
            </div>
            <div class="col">
                <p> TP Final - Preguntados </p>
            </div>
        </div>
    </div>




</footer>

</body>

</html>