<form class="form-inline w-100 justify-content-center " id="form_filtros" action="/graficos/traerDatos" method="post">
    <!-- Select para el día -->
    <select class="form-control mr-sm-2 w-25" id="dia" name="dia">
        <!-- Opciones del 1 al 30 -->
        <option value="0">Seleccionar dia</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
    </select>
    <!-- Select para el mes -->
    <select class="form-control mr-sm-2 w-25" id="mes" name="mes">
        <!-- Opciones de enero a diciembre -->
        <option value="0">Seleccionar mes</option>
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
    </select>
    <!-- Select para el año -->
    <select class="form-control mr-sm-2 w-25" id="anio" name="anio" required>
        <!-- Opciones del 2020 al 2023 -->
        <option value="0">Seleccionar año</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
    </select>

    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" >Buscar</button>
</form>

<style>
    div.puntaje_div{
        width: 250px;
        height: auto;
    }
    div.puntaje_div p{
        padding: 5px;
        font-size: 16px;
    }
    div.puntaje_div span{
        font-size: 30px;
    }

</style>
<main id="main" style=" gap: 15px">
    <section id="main_scroll">
        <div class="puntaje w-75" style="flex-wrap: wrap; justify-content: center">
            <div class="puntaje_div">
                <span>{{graficos.cantPartidas}}</span>
                <p>Partidas realizadas</p>
            </div>
            <div class="puntaje_div">
                <span>{{graficos.cantPreguntas}}</span>
                <p>Preguntas totales</p>
            </div>
            <div class="puntaje_div">
                <span>{{graficos.preguntasCreadas}}</span>
                <p>Preguntas creadas (sugeridas)</p>
            </div>
            <div class="puntaje_div">
                <span>{{graficos.cantJugadores}}</span>
                <p>Jugadores</p>
            </div>
            <div class="puntaje_div">
                <span>{{graficos.usuariosNuevos}}</span>
                <p>Jugadores del ultimo mes</p>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center " style="gap: 20px; flex-wrap: wrap">
            <div class="div_graficos" style="background: rgba(202,208,243,0.93)">
                <canvas id="miGrafico" style="color: white"></canvas>
            </div>
            <div class="div_graficos" style="background: #cad0f3">
                <canvas id="miGrafico2" style="color: white"></canvas>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center " style="gap: 20px;">
            <div class="div_graficos w-50" style="background: #cad0f3">
                <canvas id="miGrafico3" style="color: white"></canvas>
            </div>
        </div>
        <a href="#" class="btn boton" id="descargarPDFBtn" style="margin-bottom: 20px">Descargar gráficos</a>

    </section>

</main>

<script>

    document.getElementById('descargarPDFBtn').addEventListener('click', function(event) {
        event.preventDefault();

        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'http://localhost/graficos/descargarPDF', true);
        xhr.responseType = 'blob'; // Importante para manejar archivos binarios como PDF
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var blob = new Blob([xhr.response], { type: 'application/pdf' });
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = 'Informe_de_Graficos.pdf';
                link.click();
            }
        };
        xhr.send();
    });



        // GRAFICO DE TORTA EDAD
        let grafico1 = document.getElementById('miGrafico').getContext('2d');

    var menores = {{#graficos.cantEdad.menores}}{{.}}{{/graficos.cantEdad.menores}} {{^graficos.cantEdad.menores}}0{{/graficos.cantEdad.menores}};
    var adultos = {{#graficos.cantEdad.adultos}}{{.}}{{/graficos.cantEdad.adultos}} {{^graficos.cantEdad.adultos}}0{{/graficos.cantEdad.adultos}};
    var jubilados = {{#graficos.cantEdad.jubilados}}{{.}}{{/graficos.cantEdad.jubilados}} {{^graficos.cantEdad.jubilados}}0{{/graficos.cantEdad.jubilados}};

    var totalEdad = menores + adultos + jubilados;

        // Calcula porcentajes
        var porcentajeMenores = ((menores / totalEdad) * 100);
        var porcentajeAdultos = ((adultos / totalEdad) * 100);
        var porcentajeJubilados = ((jubilados / totalEdad) * 100);

        var porcentajeAD = (isNaN(porcentajeMenores) && isNaN(porcentajeAdultos) && isNaN(porcentajeJubilados) )? 100 : 0;

        let graficoFunct1 = new Chart(grafico1, {
            type: 'pie',
            data: {
                labels: (porcentajeAD === 0)? ['Menores ' + porcentajeMenores.toFixed(0) + '%', 'Adultos ' + porcentajeAdultos.toFixed(0) + '%', 'Jubilados ' + porcentajeJubilados.toFixed(0) + '%'] : ["no hay usuarios"],
                datasets: [{
                    label: "Grupos de edad",
                    data: (porcentajeAD === 0)? [{{graficos.cantEdad.menores}}, {{graficos.cantEdad.adultos}}, {{graficos.cantEdad.jubilados}}] : [porcentajeAD],
                    backgroundColor: (porcentajeAD === 0)? ['rgba(216,241,65,0.54)', 'rgb(83,182,194)', 'rgba(215,65,65,0.5)'] :['rgba(134,134,134,0.12)'],
                    borderColor: (porcentajeAD === 0)? ['rgba(166,185,50,0.54)', 'rgba(69,158,164,0.85)', 'rgba(157,47,47,0.38)']:['rgba(255,255,255,0.58)'],// Color del borde
                    borderWidth: 3,// Ancho del borde
                }]
            }
        });

        // GRAFICO DE BARRAS PORCENTAJE DE PREGUNTAS
        let grafico3 = document.getElementById('miGrafico3').getContext('2d');
        let porcentajeGrafico3 = [];
        let nombreGrafico3 = [];

            {{#graficos.porcentajeCorrectas}}
            porcentajeGrafico3.push({{porcentajes}})
            nombreGrafico3.push("{{usuarios}}")
            {{/graficos.porcentajeCorrectas}};

        console.log(porcentajeGrafico3);
        console.log(nombreGrafico3);
        let graficoFunct3 = new Chart(grafico3, {
            type: 'bar',
            data: {
                labels: nombreGrafico3,
                datasets: [{
                    label: (porcentajeAD === 0)? "Porcentaje de preguntas": ["no hay usuarios"],
                    data: porcentajeGrafico3,
                    backgroundColor: (porcentajeAD === 0)?  ['rgba(0,210,239,0.19)'] :['rgba(34,134,134,0.12)'],
                    borderColor:  (porcentajeAD === 0)? 'rgba(0,182,206,0.53)':['rgba(255,255,255,0.58)'],// Color del borde
                    borderWidth: 2,// Ancho del borde
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 100,
                        stepSize: 10
                    }
                }
            }

        });




        //GRAFICO DE TORTA CIRCULO SEXO
        var contextoTorta = document.getElementById('miGrafico2').getContext('2d');

        var mujeres = {{#graficos.cantGenero.femeninos}}{{.}}{{/graficos.cantGenero.femeninos}} {{^graficos.cantGenero.femeninos}}0{{/graficos.cantGenero.femeninos}};
        var hombres = {{#graficos.cantGenero.masculinos}}{{.}}{{/graficos.cantGenero.masculinos}} {{^graficos.cantGenero.masculinos}}0{{/graficos.cantGenero.masculinos}};
        var totalUsuarios = mujeres + hombres;

        // Calcula porcentajes
        var porcentajeMujeres = ((mujeres / totalUsuarios) * 100);
        var porcentajeHombres = ((hombres / totalUsuarios) * 100);




        var graficoTorta = new Chart(contextoTorta, {
            type: 'doughnut',
            data: {
                labels: (porcentajeAD === 0)? ['Mujeres ' + porcentajeMujeres.toFixed(0) + '%', 'Hombres ' + porcentajeHombres.toFixed(0) + '%'] : ["no hay usuarios"],
                datasets: [{
                    data: (porcentajeAD === 0)? [mujeres, hombres] : [porcentajeAD],
                    backgroundColor:  (porcentajeAD === 0)? ['#da74a2', '#3aa9b9'] :['rgba(134,134,134,0.12)']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });











</script>

{{#error}}
    <div class="popup"  id="popup_error" >
        <p>{{error}}</p>
    </div>
    <script>
        setTimeout(function() { document.getElementById("popup_error").style.display = "none"}, 3000);
    </script>
{{/error}}