<form class="form-inline w-100 justify-content-center " id="form_filtros" action="/graficos/traerDatos" method="post">
    <input class="form-control mr-sm-2 w-25" type="number" id="dia" name="dia"  placeholder="dia" aria-label="Search">
    <input class="form-control mr-sm-2 w-25" type="number" id="mes" name="mes"  placeholder="mes" aria-label="Search">
    <input class="form-control mr-sm-2 w-25" type="number" id="anio"  name="anio" placeholder="año" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" >Buscar</button>
</form>
<main id="main" style=" gap: 15px">

    <section id="main_scroll">
        <div class="puntaje">
            <div class="puntaje_div">
                <span>{{graficos.preguntasCreadas}}</span>
                <p>Preguntas creadas (sugeridas)</p>
            </div>
            <div class="puntaje_div">
                <span>{{graficos.usuariosNuevos}}</span>
                <p>Usuarios del ultimo mes</p>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center " style="gap: 20px; flex-wrap: wrap">
            <div class="div_graficos" style="background: rgba(202,208,243,0.93)">
                <canvas id="miGrafico" style="color: white"></canvas>
            </div>
            <div class="div_graficos" style="background: #cad0f3">
                <canvas id="miGrafico2" style="color: white"></canvas>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center " style="gap: 20px;">
            <div class="div_graficos w-50" style="background: #cad0f3">
                <canvas id="miGrafico3" style="color: white"></canvas>
            </div>
        </div>
        <a href="#" class="btn boton" id="descargarPDFBtn" style="margin-bottom: 20px">Descargar gráficos</a>

    </section>

</main>

<script>

    document.getElementById('descargarPDFBtn').addEventListener('click', function(event) {
        event.preventDefault();

        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'http://localhost:8080/graficos/descargarPDF', true);
        xhr.responseType = 'blob'; // Importante para manejar archivos binarios como PDF
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var blob = new Blob([xhr.response], { type: 'application/pdf' });
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = 'Informe_de_Graficos.pdf';
                link.click();
            }
        };
        xhr.send();
    });



        // GRAFICO DE BARRAS
        let grafico1 = document.getElementById('miGrafico').getContext('2d');
        let graficoFunct1 = new Chart(grafico1, {
            type: 'pie',
            data: {
                labels: ['Menores', 'Adultos', 'Jubilados'],
                datasets: [{
                    label: "Grupos de edad",
                    data: [{{graficos.cantEdad.menores}}, {{graficos.cantEdad.adultos}}, {{graficos.cantEdad.jubilados}}],
                    backgroundColor: ['#dc5b5b', '#ceb522', '#d77041']
                }]
            }
        });

        let grafico3 = document.getElementById('miGrafico3').getContext('2d');
        let porcentajeGrafico3 = [];
        let nombreGrafico3 = [];

            {{#graficos.porcentajeCorrectas}}
            porcentajeGrafico3.push({{porcentajes}})
            nombreGrafico3.push("{{usuarios}}")
            {{/graficos.porcentajeCorrectas}};

        console.log(porcentajeGrafico3);
        console.log(nombreGrafico3);
        let graficoFunct3 = new Chart(grafico3, {
            type: 'bar',
            data: {
                labels: nombreGrafico3,
                datasets: [{
                    label: "Porcentaje de preguntas",
                    data: porcentajeGrafico3,
                    backgroundColor: ['rgba(0,210,239,0.19)'],
                    borderColor: 'rgba(0,182,206,0.53)',// Color del borde
                    borderWidth: 2,// Ancho del borde
                }]
            }
        });



        //GRAFICO DE TORTA
        var contextoTorta = document.getElementById('miGrafico2').getContext('2d');

        // Crea un gráfico de torta
        var graficoTorta = new Chart(contextoTorta, {
            type: 'doughnut', // Tipo de gráfico de torta
            data: {
                labels: ['Mujeres', 'Hombres'],
                datasets: [{
                    data: [{{graficos.cantGenero.femeninos}}, {{graficos.cantGenero.masculinos}}], // Valores para cada categoría
                    backgroundColor: ['#da74a2', '#3aa9b9'] // Colores para cada categoría
                }]
            },
            options: {
                // Puedes agregar opciones adicionales aquí, como leyenda, título, etc.
                responsive: true,
                maintainAspectRatio: false
            }
        });










</script>
