<main>

    <section class="section-vh-50">
        <div class="container container-center py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem; box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="public/parahome.png" alt="Preguntados" class="img-fluid img-center" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-question-circle fa-2x me-3" style="color: #FF5722;"></i>
                                        <span class="h1 fw-bold mb-0">Preguntados</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">¡Demuestra tus conocimientos!</h5>

                                    <p>
                                        Preguntados es un emocionante juego de preguntas y respuestas que desafía tu conocimiento en una variedad de temas. Compite contra amigos o jugadores de todo el mundo para ver quién sabe más.
                                    </p>

                                    <p>
                                        ¿Estás listo para enfrentar preguntas desafiantes, acumular puntos y demostrar que eres un experto en Preguntados?
                                    </p>

                                    <div class="pt-1 mb-4">
                                        <a href="enlace-a-descargar-el-juego" class="btn btn-primary btn-lg btn-block" role="button">¡Jugar ahora!</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


