<main>

    <div class="contenedor_centrado">
        <img src="../public/personajes.png" class="w-100">
        <h2>Home 1</h2>
        <p>
            Preguntados es un emocionante juego de preguntas y respuestas que desafía tu conocimiento en una
            variedad de temas. Compite contra amigos o jugadores de todo el mundo para ver quién sabe más.
            <br>¿Estás listo para enfrentar preguntas desafiantes, acumular puntos y demostrar que eres un experto
            en Preguntados?
        </p>


        <a type="link" href="/partida/crearPartida" class="btn boton">¡Jugar ahora!</a>

    </div>
</main>


