<main>
    <div class="contenedor_centrado">

        <p>
            INFORMACION DEL USUARIO</p>

        <a href="/profile/cerrarSesion" type="submit" class="btn btn-danger ">Cerrar sesion</a>

    </div>
</main>