<main style="padding-top: 100px; ">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSHHRCnBk-jtnX3bJ4gUgcRifJG5OrNwE&callback=initMap" async defer></script>

    <section id="main_scroll">

    {{#user}}
        {{#estadisticas}}
            <div class="puntaje">
                <div class="puntaje_div">
                    <span>{{nivel}}</span>
                    <p>nivel</p>
                </div>
                <div class="puntaje_div">
                    <span>{{puntos}}</span>
                    <p>puntos</p>
                </div>
                <div class="puntaje_div">
                    <span>2000</span>
                    <p>partidas</p>
                </div>
                <div class="puntaje_div">
                    <span>2000</span>
                    <p>preguntas</p>
                </div>
            </div>
        {{/estadisticas}}

        <form method="post" action="/profile/modificarUsuario" enctype="multipart/form-data" style="margin-bottom: 75px;" >

            <div class="div_form_titulos">
                <h2>Datos personales del usuario </h2>
            </div>

            <div class="div_form_campos">

                <div class="infoBasica">
                    <div id="infoBasica_div1">
                        <img id="imagen_enviada" src="../public/usuarios/{{foto_perfil}}" alt="">
                        <div id="editarImagen" >
                            <img src="../public/icono_editar.png" alt="" class="w-100 p-3">
                            <input type="file" id="fileInput" name="fileInput" style="display: none;">
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="form-row form-group">
                            <div class="col">
                                <label for="exampleInputEmail1">Nombre</label>
                                <input type="text"  name="nombre" value="{{nombre}}" required class="form-control" placeholder="Ingrese su nombre">
                            </div>
                            <div class="col">
                                <label for="exampleInputEmail1">Apellido</label>
                                <input type="text" name="apellido" value="{{apellido}}" required class="form-control" placeholder="Ingrese su apellido">
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <label class="form-label" for="anio_nacimiento">Año de Nacimiento</label>
                                <input type="number" id="anio_nacimiento" class="form-control " name="anio_nacimiento" value="{{anio_nacimiento}}" required/>
                            </div>
                            <div class="col">
                                <label for="inputState">Genero</label>
                                <select id="inputState" name="genero" class="form-control">
                                    <option value="masculino">Masculino</option>
                                    <option value="femenino">Femenino</option>
                                    <option value="">Prefiero no decirlo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row form-group">
                    <div class="col" style="display: flex; align-items: flex-end">
                        <a onclick="mostrarPopUp('popup_mapa')" class="btn btn-outline-light my-2 my-sm-0 m-3">Seleccionar ubicacion en un mapa</a>
                    </div>
                    <div class="col">
                        <label class="form-label" for="latitud">Latitud</label>
                        <input id="latitud" name="latitud" class="form-control" value="{{latitud}}" readonly>
                    </div>
                    <div class="col">
                        <label class="form-label" for="longitud">Longitud</label>
                        <input id="longitud" name="longitud" class="form-control" value="{{longitud}}" readonly>
                    </div>
                </div>

                <div class="form-row form-group">
                    <div class="col">
                        <label for="exampleInputEmail1">Usuario</label>
                        <input type="text" name="usuario" class="form-control"  value="{{usuario}}" placeholder="Ingrese su usuario">
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1">Email address {{^validar}}<img class="verificado" src="../public/icon_verificado.png"><p id="p_verificado">verificado</p>{{/validar}}</label>
                        <input type="email"  name="mail" value="{{mail}}" required  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su email">
                    </div>
                </div>

                <div class="form-row form-group">
                    <div class="col">
                        <label for="exampleInputEmail1">Contraseña</label>
                        <input type="text"  name="clave" value="{{clave}}" required  class="form-control" placeholder="Ingrese la contraseña">
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1">Contraseña</label>
                        <input type="text"  name="clave2" value="{{clave2}}" required  class="form-control" placeholder="Repita la contraseña">
                    </div>
                </div>

            </div>

            <div class="d-flex" id="form_botones">
                <button type="submit" class="btn boton">Modificar datos</button>
                {{#validar}}<a href="/user/enviarMailDeValidacion" type="submit" class="btn btn-danger btn_danger">Validar mail</a>{{/validar}}
                <a href="/profile/cerrarSesion" type="submit" class="btn btn-danger btn_danger">Cerrar sesion</a>
            </div>

        </form>

        <div class="popup2" id="popup_mapa" style="display: none; top: 15%; max-width: 600px; left: auto">
            <a class="popup_cruz" onclick="ocultarPopUp('popup_mapa')">✖</a>
            <body onload="initMap()">
                <div id="mapa" style="width: 500px; height: 400px;"></div>
                <!-- Campos ocultos para latitud y longitud -->
            </body>
        </div>

    <script src="../public/js/popup.js"></script>
        <script src="../public/js/administrar.js"></script>
        
    

       <script>
    function mostrarPopUp(idPopup) {
        // Lógica para mostrar el popup del mapa
        document.getElementById(idPopup).style.display = 'block';
        initMap();
    }

    var mapa;
    var marcador;

    function initMap() {
        var latitud = parseFloat(document.getElementById('latitud').value);
    var longitud = parseFloat(document.getElementById('longitud').value);

        // Configuración inicial del mapa
        var mapaConfig = {
            center: { lat: latitud, lng: longitud },
            zoom: 12
        };
        mapa = new google.maps.Map(document.getElementById('mapa'), mapaConfig);

        // Crear el marcador en una ubicación predeterminada al iniciar
        var ubicacionInicial = new google.maps.LatLng(latitud, longitud);
        marcador = new google.maps.Marker({
            position: ubicacionInicial,
            map: mapa
        });

        // Manejar la selección de ubicación en el mapa
        mapa.addListener('click', function(event) {
            placeMarker(event.latLng);
        });
    }

    function placeMarker(location) {
        if (marcador) {
            marcador.setPosition(location);
        } else {
            marcador = new google.maps.Marker({
                position: location,
                map: mapa
            });
        }

        // Actualizar los campos ocultos de latitud y longitud
        document.getElementById('latitud').value = location.lat();
        document.getElementById('longitud').value = location.lng();
    }
</script>

    {{/user}}


    {{#otroUser}}
        <div class="puntaje">
            <div class="puntaje_div">
                <span>{{nivel}}</span>
                <p>nivel</p>
            </div>
            <div class="puntaje_div">
                <span>{{puntos}}</span>
                <p>puntos</p>
            </div>
            <div class="puntaje_div">
                <span>2000</span>
                <p>partidas</p>
            </div>
            <div class="puntaje_div">
                <span>2000</span>
                <p>preguntas</p>
            </div>
        </div>

        <form method="post" action="{{action}}" enctype="multipart/form-data" style="margin-bottom: 75px;" >

            <div class="div_form_titulos">
                <h2>Datos personales del usuario</h2>
            </div>

            <div class="div_form_campos">

                <div class="infoBasica">
                    <div id="infoBasica_div1">
                        <img id="imagen_enviada" src="../public/usuarios/{{foto_perfil}}" alt="">
                    </div>
                    <div class="w-100">
                        <div class="form-row form-group">
                            <div class="col">
                                <label for="exampleInputEmail1">Nombre</label>
                                <input type="text"  name="nombre" value="{{nombre}}" required class="form-control" placeholder="Ingrese su nombre" disabled>
                            </div>
                            <div class="col">
                                <label for="exampleInputEmail1">Apellido</label>
                                <input type="text" name="apellido" value="{{apellido}}" required class="form-control" placeholder="Ingrese su apellido" disabled>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <label class="form-label" for="anio_nacimiento">Año de Nacimiento</label>
                                <input type="number" id="anio_nacimiento" class="form-control " name="anio_nacimiento" value="{{anio_nacimiento}}" disabled required/>
                            </div>
                            <div class="col">
                                <label for="inputState">Genero</label>
                                <select id="inputState" name="genero" class="form-control">
                                    <option value="masculino">{{genero}}</option>

                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-row form-group">
                <div class="col" style="display: flex; align-items: flex-end">
                    <a onclick="mostrarPopupMapaOtroUsuario('{{latitud}}', '{{longitud}}')" class="btn btn-outline-light my-2 my-sm-0 m-3">Ver ubicación en un mapa</a>
                </div>
                
                <div class="col">
            <label class="form-label" for="latitud">Latitud</label>
            <input id="latitud" name="latitud" class="form-control" value="{{latitud}}" readonly>
        </div>
        <div class="col">
            <label class="form-label" for="longitud">Longitud</label>
            <input id="longitud" name="longitud" class="form-control" value="{{longitud}}" readonly>
        </div>
            </div>



                <div class="form-row form-group">
                    <div class="col">
                        <label for="exampleInputEmail1">Usuario</label>
                        <input type="text" name="usuario" class="form-control"  value="{{usuario}}" placeholder="Ingrese su usuario" disabled>
                    </div>
                    <div class="form-group form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email"  name="mail" value="{{mail}}" required  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su email" disabled>
                    </div>
                </div>


            </div>
<div class="popup2" id="popup_mapa_otro" style="display: none; top: 15%; max-width: 600px; left: auto">
    <a class="popup_cruz" onclick="ocultarPopUp('popup_mapa_otro')">✖</a>
    <div id="mapa_otro_usuario" style="width: 500px; height: 400px;"></div>
</div>
<script>
    function mostrarPopupMapaOtroUsuario(latitud, longitud) {
        // Lógica para mostrar el popup del mapa del segundo usuario
        document.getElementById('popup_mapa_otro').style.display = 'block';
        initMapOtroUsuario(latitud, longitud);
    }

    var mapaOtroUsuario;
    var marcadorOtroUsuario;

    function initMapOtroUsuario(latitud, longitud) {
        var mapaConfig = {
            center: { lat: parseFloat(latitud), lng: parseFloat(longitud) },
            zoom: 12
        };
        mapaOtroUsuario = new google.maps.Map(document.getElementById('mapa_otro_usuario'), mapaConfig);

        // Crear el marcador en la ubicación proporcionada
        marcadorOtroUsuario = new google.maps.Marker({
            position: { lat: parseFloat(latitud), lng: parseFloat(longitud) },
            map: mapaOtroUsuario
        });
    }
    </script>
    </form>
        
    {{/otroUser}}


</section>

</main>