<main style="padding-top: 100px; padding-bottom: 75px;">
    <section id="main_scroll">
        <section class="ranking_global">
            <a href="" class="a_ranking">
                <div class="div_ranking rounded-left div_ranking_numero"><span>#1</span></div>
                <div class="div_ranking div_ranking_nombre" ><img class="img_perfil" src="../public/profile.png" alt=""> <span class="nombre">rociocrespo200</span></div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;"><span>2000</span> puntos</div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;"><span>2000</span> nivel</div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;"><span>2000</span> partidas</div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;" ><span>2000</span> preguntas</div>
                <div class="div_ranking rounded-right" style="border-left: 3px solid #733bac ;" ><img src="../public/qr.png" alt=""></div>
            </a>
        </section>
        <section class="ranking_global">
            <a href="" class="a_ranking">
                <div class="div_ranking rounded-left div_ranking_numero"><span>#2</span></div>
                <div class="div_ranking div_ranking_nombre" ><img class="img_perfil" src="../public/profile.png" alt=""> <span class="nombre">rociocrespo200</span></div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;"><span>2000</span> puntos</div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;"><span>2000</span> nivel</div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;"><span>2000</span> partidas</div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;" ><span>2000</span> preguntas</div>
                <div class="div_ranking rounded-right" style="border-left: 3px solid #733bac ;" ><img src="../public/qr.png" alt=""></div>
            </a>
        </section>
        <section class="ranking_global">
            <a href="" class="a_ranking">
                <div class="div_ranking rounded-left div_ranking_numero"><span>#3</span></div>
                <div class="div_ranking div_ranking_nombre" ><img class="img_perfil" src="../public/profile.png" alt=""> <span class="nombre">rociocrespo200</span></div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;"><span>2000</span> puntos</div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;"><span>2000</span> nivel</div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;"><span>2000</span> partidas</div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;" ><span>2000</span> preguntas</div>
                <div class="div_ranking rounded-right" style="border-left: 3px solid #733bac ;" ><img src="../public/qr.png" alt=""></div>
            </a>
        </section>
        <section class="ranking_global">
            <a href="" class="a_ranking">
                <div class="div_ranking2 rounded-left div_ranking_numero2"><span>#4</span></div>
                <div class="div_ranking2 div_ranking_nombre" ><img class="img_perfil" src="../public/profile.png" alt=""> <span class="nombre">rociocrespo200</span></div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>2000</span> puntos</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>2000</span> nivel</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>2000</span> partidas</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;" ><span>2000</span> preguntas</div>
                <div class="div_ranking2 rounded-right" style="border-left: 3px solid #3d4079 ;" ><img src="../public/qr.png" alt=""></div>
            </a>
        </section>
        <section class="ranking_global">
            <a href="" class="a_ranking">
                <div class="div_ranking2 rounded-left div_ranking_numero2"><span>#5</span></div>
                <div class="div_ranking2 div_ranking_nombre" ><img class="img_perfil" src="../public/profile.png" alt=""> <span class="nombre">rociocrespo200</span></div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>2000</span> puntos</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>2000</span> nivel</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>2000</span> partidas</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;" ><span>2000</span> preguntas</div>
                <div class="div_ranking2 rounded-right" style="border-left: 3px solid #3d4079 ;" ><img src="../public/qr.png" alt=""></div>
            </a>
        </section>
        <section class="ranking_global">
            <a href="" class="a_ranking">
                <div class="div_ranking2 rounded-left div_ranking_numero2"><span>#6</span></div>
                <div class="div_ranking2 div_ranking_nombre" ><img class="img_perfil" src="../public/profile.png" alt=""> <span class="nombre">rociocrespo200</span></div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>2000</span> puntos</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>2000</span> nivel</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>2000</span> partidas</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;" ><span>2000</span> preguntas</div>
                <div class="div_ranking2 rounded-right" style="border-left: 3px solid #3d4079 ;" ><img src="../public/qr.png" alt=""></div>
            </a>
        </section>
        <section class="ranking_global">
            <a href="" class="a_ranking">
                <div class="div_ranking2 rounded-left div_ranking_numero2"><span>#7</span></div>
                <div class="div_ranking2 div_ranking_nombre" ><img class="img_perfil" src="../public/profile.png" alt=""> <span class="nombre">rociocrespo200</span></div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>2000</span> puntos</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>2000</span> nivel</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>2000</span> partidas</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;" ><span>2000</span> preguntas</div>
                <div class="div_ranking2 rounded-right" style="border-left: 3px solid #3d4079 ;" ><img src="../public/qr.png" alt=""></div>
            </a>
        </section>
    </section>



</main>