<main style="padding-top: 100px; padding-bottom: 75px;">
    <section id="main_scroll">
        
    {{#topTres}}
        <section class="ranking_global">
            <a href="/profile/verperfil?id={{id}}" class="a_ranking">
                <div class="div_ranking rounded-left div_ranking_numero"><span>#{{posicion}}</span></div>
                <div class="div_ranking div_ranking_nombre" ><img class="img_perfil" src="../public/usuarios/{{foto_perfil}}" alt=""> <span class="nombre">{{usuarios}}</span></div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;"><span>{{puntos}}</span> puntos</div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;"><span>{{nivel}}</span> nivel</div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;"><span>{{cantidadDePartidas}}</span> partidas</div>
                <div class="div_ranking" style="border-left: 3px solid #733bac ;" ><span>{{preguntas}}</span> preguntas</div>
                <div class="div_ranking rounded-right" style="border-left: 3px solid #733bac ;" ><img src="../public/qr.png" alt=""></div>
            </a>
        </section>
    {{/topTres}}

    {{#ranking}}
        <section class="ranking_global">
            <a href="/profile/verperfil?id={{id}}" class="a_ranking">
                <div class="div_ranking2 rounded-left div_ranking_numero2"><span>#{{posicion}}</span></div>
                <div class="div_ranking2 div_ranking_nombre" ><img class="img_perfil" src="../public/usuarios/{{foto_perfil}}" alt=""> <span class="nombre">{{usuarios}}</span></div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>{{puntos}}</span> puntos</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>{{nivel}}</span> nivel</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;"><span>{{cantidadDePartidas}}</span> partidas</div>
                <div class="div_ranking2" style="border-left: 3px solid #3d4079 ;" ><span>{{preguntas}}</span> preguntas</div>
                <div class="div_ranking2 rounded-right" style="border-left: 3px solid #3d4079 ;" ><img src="../public/qr.png" alt=""></div>
            </a>
        </section>
    {{/ranking}}
        
        

    </section>




</main>