<main>
    <form method="post" action="/reportes/agregarReporte" enctype="multipart/form-data">

        <div class="div_form_titulos">
            <h2>Reportar pregunta</h2>
        </div>

        <div class="div_form_campos">
            <div class="form-group">
                <label for="pregunta">Pregunta</label>
                <select id="pais" class="form-control " name="id_pregunta" required>
                    <option selected value="{{preguntaActual.id}}">{{preguntaActual.pregunta}}</option>
                    {{#preguntas}}
                        <option value="{{id}}">{{pregunta}}</option>
                    {{/preguntas}}
                </select>
            </div>

            <div class="form-group">
                <label for="motivo">Indique el motivo del reporte</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="250" name="motivo" required placeholder="Maximo de 250 caracteres"></textarea>
            </div>
        </div>

        <div class="div_botones">
            <a href="/home/show" class="btn boton boton_modificar">Volver</a>
            <button type="submit" class="btn btn-danger btn_danger boton_eliminar" >Enviar reporte</button>
        </div>

    </form>
</main>