<form class="form-inline w-100 justify-content-center " id="form_filtros">
    <input class="form-control mr-sm-2 w-75" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
</form>

<main style="padding-top: 20px; padding-bottom: 150px; justify-content: flex-start;">



    <section id="main_scroll">
        {{#reportes}}
            <div class="lista">
                <div class="lista_div m-0">
                    <cite>Nro° {{id}} - {{fecha}} created by: <a href="/profile/verperfil?id={{id_usuario}}"><cite>{{usuario}}</cite></a></cite>
                    <p>Pregunta - {{pregunta}}</p>
                    <cite>Motivo - {{motivo}}</cite>
                </div>
                <div class="d-flex flex-column lista_botones">
                    <a href="/reportes/aprobarReporte?id_pregunta={{id_pregunta}}&id_reporte={{id}}" class="btn btn-success btn_succes">Aprobar</a>
                    <a href="/reportes/rechazarReporte?id_reporte={{id}}" class="btn btn-danger btn_danger boton_eliminar" onclick="mostrarPopUp('popup_eliminar')">Rechazar</a>
<!--                    <button onclick="mostrarPopUp('popup_eliminar')" href="" class="btn btn-danger btn_danger boton_eliminar">Rechazar</button>-->
                </div>
            </div>

            <div class="popup"  id="popup_eliminar" style="display: none">
                <a class="popup_cruz" onclick="ocultarPopUp('popup_eliminar')">✖</a>
                <p>Esta seguro que desea eliminar este reporte? Una vez eliminado, no podra restaurarse la informacion.</p>
                <div>
<!--                    <a href="/reportes/rechazarReporte?id_reporte={{id}}" class="btn btn-danger btn_danger boton_eliminar" onclick="mostrarPopUp('popup_eliminar')">Rechazar</a>-->
                </div>
            </div>
        {{/reportes}}


    </section>




</main>

<script src="../public/js/popup.js"> </script>