<form class="form-inline w-100 justify-content-center " id="form_filtros">
    <input class="form-control mr-sm-2 w-75" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
</form>

<main style="padding-top: 20px; padding-bottom: 150px; justify-content: flex-start;">


{{#reportadas}}
    <section id="main_scroll">
        <div class="lista">
            <div class="lista_div m-0">

                <p>{{pregunta}}</p>
                <cite>Motivo - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, laborum! Rerum
                    saepe asperiores magnam illo quidem a sit, voluptates iste Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Laborum sequi at dolorem quos rerum expedita a nulla incidunt
                    atque. Sequi facere odio numquam, possimus, voluptates laudantium corporis sapiente, ex earum
                    nobis natus ut? Quia, placeat non, dolor atque rem accusantium, harum in excepturi ratione
                    impedit doloribus consectetur aut eius delectus.</cite>
            </div>
            <div class="d-flex flex-column lista_botones">
                <a href="reportes/inhabilitar?="{{id}} class="btn btn-success btn_succes">Aprobar</a>
                <button onclick="mostrarPopUp('popup_eliminar')" href="" class="btn btn-danger btn_danger boton_eliminar">Rechazar</button>
            </div>
        </div>
{{/reportadas}}
        <div class="lista">
            <div class="lista_div m-0">
                <cite>Nro° 1120 - 12/03/2023 11:00 created by: <a href=""><cite>rociocrespo200</cite></a></cite>
                <p>Pregunta - Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, vero?</p>
                <cite>Motivo - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, laborum! Rerum
                    saepe asperiores magnam illo quidem a sit, voluptates iste Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Laborum sequi at dolorem quos rerum expedita a nulla incidunt
                    atque. Sequi facere odio numquam, possimus, voluptates laudantium corporis sapiente, ex earum
                    nobis natus ut? Quia, placeat non, dolor atque rem accusantium, harum in excepturi ratione
                    impedit doloribus consectetur aut eius delectus.</cite>
            </div>
            <div class="d-flex flex-column lista_botones">
                <a href="" class="btn btn-success btn_succes">Aprobar</a>
                <button onclick="mostrarPopUp('popup_eliminar')" href="" class="btn btn-danger btn_danger boton_eliminar">Rechazar</button>
            </div>
        </div>
        <div class="lista">
            <div class="lista_div m-0">
                <cite>Nro° 1120 - 12/03/2023 11:00 created by: <a href=""><cite>rociocrespo200</cite></a></cite>
                <p>Pregunta - Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, vero?</p>
                <cite>Motivo - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, laborum! Rerum
                    saepe asperiores magnam illo quidem a sit, voluptates iste Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Laborum sequi at dolorem quos rerum expedita a nulla incidunt
                    atque. Sequi facere odio numquam, possimus, voluptates laudantium corporis sapiente, ex earum
                    nobis natus ut? Quia, placeat non, dolor atque rem accusantium, harum in excepturi ratione
                    impedit doloribus consectetur aut eius delectus.</cite>
            </div>
            <div class="d-flex flex-column lista_botones">
                <a href="" class="btn btn-success btn_succes">Aprobar</a>
                <button onclick="mostrarPopUp('popup_eliminar')" href="" class="btn btn-danger btn_danger boton_eliminar">Rechazar</button>
            </div>
        </div>
    </section>

    <div class="popup"  id="popup_eliminar" style="display: none">
        <a class="popup_cruz" onclick="ocultarPopUp('popup_eliminar')">✖</a>
        <p>Esta seguro que desea eliminar este reporte? Una vez eliminado, no podra restaurarse la informacion.</p>
        <div>
            <a href="/homeEditor/eliminarPregunta" class="btn btn-danger btn_danger boton_eliminar" onclick="mostrarPopUp('popup_eliminar')">Rechazar</a>
        </div>
    </div>


</main>

<script src="../public/js/popup.js"></script>